<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Mon univers AYA</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>aya</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>aya-huile-app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aya-huile-app</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>monuniversaya.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:monuniversaya.com</string>
		<string>applinks:www.monuniversaya.com</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Mon univers AYA utilise la caméra pour scanner les codes QR sur les bouteilles AYA afin de collecter des points de fidélité.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mon univers AYA utilise votre localisation pour trouver les points de vente AYA près de chez vous et afficher la carte interactive des vendeurs.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Mon univers AYA utilise votre localisation pour trouver les points de vente AYA près de chez vous et afficher la carte interactive des vendeurs.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Mon univers AYA accède à vos photos uniquement si vous choisissez de partager une image depuis votre galerie dans l'application.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Mon univers AYA souhaite sauvegarder des images dans votre galerie, comme des codes QR générés ou des récompenses.</string>
</dict>
</plist>
